html {
  font-family: sans-serif;
}

.main-inner {
  margin: 0 auto;
  width: 900px;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  flex-grow: 1;
}

.btn label {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  color: white;
  background-color: #3399ff;
  border-radius: 5px;
  user-select: none;
}

.btn label:hover {
  background-color: #0080ff;
}

.preview-list {
  padding-left: 0;
}

.preview-list-item {
  list-style-type: none;
  border-top: 1px solid #ccc;
  height: 64px;
  display: flex;
  align-items: center;
}

.preview-list-item a {
  padding-left: 10px;
  line-height: 32px;
}

.preview-list-item img {
  height: 64px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #00000000;
  border-bottom-color: #3399ff;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  align-self: center;
}
